.container {
  padding: 0 2rem;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.title img {
  width: 100%;
  height: 100px;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0;
}

.card {
  padding: 7px 10px;
  margin: 5px;
  width: 100%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.card h2 {
  z-index: 5;
  background-color: white;
  height: 50px;
  top: 0;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 24px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.card p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.card span {
  display: block;
  margin: 0;
  font-size: 14;
  line-height: 1.5;
  color: gray;
}

.subcard {
  padding: 5px;
  margin: 0px;
  width: 100%;
  max-height: 100%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.subcard h2 {
  margin: 0 0 5px 0;
  font-size: 24px;
}

.subcard p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.subcard > span {
  display: block;
  margin: 0;
  font-size: 14;
  line-height: 1.5;
  color: gray;
}

.subcard .lang {
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
  padding: 0 3px;
  color: rgb(75, 75, 75);
  border-radius: 5px;
  border: 1px solid gray;
}

.list {
  padding: 0 !important;
  margin: 0 !important;
}

.list > li {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  list-style-type: none;
  margin: 5px !important;
  padding: 3px 10px !important;
  background-color: #0071f398;
  border-radius: 9px !important;
  border: none !important;
}


.subcard .lang:hover {
  background-color: rgb(236, 236, 236);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-height: 1500px) and (min-width: 1500px) {
  .title {
    background-size: 50%;
  }
  
  .info {
    flex-direction: row;
    row-gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 80vh;
    margin: auto 0;
  }

  .info > div {
    width: 700px;
  }
}

.fix {
  display: fixed !important;
  top: 0;
  left: 0;
}